{% extends "base.jinja" %}

{# PAGE HEAD#}
{% block head %}
<title>Adventskalender</title>
{% endblock %}

{# PAGE BODY #}
{% block body %}
<a style="display:none" id="jsonFilePath" href="{{ HOST }}/res/positions.json"></a>
<img style="display: none;" id="canvasImage" width="100%" height="100%" src="{{ HOST }}/res/index.jpg" alt="Advent">
<canvas id="canvas"></canvas>

{% for i in range(DAY) %} 
    <p style="display: none;" id="day{{i + 1}}"></p>
{% endfor %}

{% endblock %}

{# PAGE SCRIPTS #}
{% block scripts %}
<script src="{{ HOST }}/res/advent.js"></script>
{% endblock %}
